<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SecretStorage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SecretStorage.Properties.Settings.ConnectionString"
            connectionString="server=localhost;user=root;database=secretstorage;port=3306;password=root" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SecretStorage.Properties.Settings>
            <setting name="AdminId" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NameMinSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PassMinSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultImage" serializeAs="String">
                <value>../../assets/images/pics/user.png</value>
            </setting>
            <setting name="DefaultImageName" serializeAs="String">
                <value>user.png</value>
            </setting>
        </SecretStorage.Properties.Settings>
    </applicationSettings>
</configuration>